.typing-effect {
  display: inline-flex;
  align-items: center;
}

.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.caret {
  display: inline-block;
  font-weight: 100;
  color: #64ffda;
  font-size: 1.2em;
  margin-left: 2px;
  transition: opacity 0.1s;
}

.caret.visible {
  opacity: 1;
}

.caret.hidden {
  opacity: 0;
}
